<% provide(:title, 'Home') %>
<% if params[:page]  %>
	<% page = Integer(params[:page]) %>
<% else %>
  <% page = Integer(0) %>
<% end %>
<% maxPage = getMaxPage %>
	<% postCount = 1 %>
	<% posts = getPosts page %>
	<span>
	<section id = 'topNav'>
		<% if page > 1 %>
			<span class = 'leftFloat'>
				<%= link_to " << NEWER", root_url(:page=> page<=1 ? 1 : page - 1 ) %>
			</span>
		<% end %>
		<% if page < maxPage %>
	 		<span class = 'rightFloat'>
				<%= link_to " OLDER >>", root_url(:page=> page==0 ? 2 : page + 1 ) %>
			</span>
		<% end %>
	</section>
	<br/>
	<% posts.each do |enum| %>
		<% if validPost enum %>
			<article>
				<header>
					<h1><%= getTitle enum %></h1>
				</header>
				<div class = "prePost"> Author : Hunter Jansen - Posted on : <%= getDate enum %> Category - <!--<%= getCat enum %>--></div>
				<br/>
				<%= getIntro enum %>
				<br/>
				<%= link_to "Continue Reading", "posts/#{enum}" %>
				<br/>
				<br/>

				<br/>
			</article>
		<% end %>
	<% end %>
	<section id = 'bottomNav'>
		<% if page > 1 %>
			<span class = 'leftFloat'>
				<%= link_to " << NEWER", root_url(:page=> page<=1 ? 1 : page - 1 ) %>
			</span>
		<% end %>
		<% if page < maxPage %>
	 		<span class = 'rightFloat'>
				<%= link_to " OLDER >>", root_url(:page=> page==0 ? 2 : page + 1 ) %>
			</span>
		<% end %>
	</section>
